.profile-dropdown {
  position: absolute;
}

.create-post-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}



.nav-container {
  padding: 1rem 2rem 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background: white;
  margin: 0;
  /* padding: 0; */
}

.Inner-nav-container {
  display: flex;
}

.divider {
  display: flex;
  justify-content: space-between;
}

.create-post-container {
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.home-link {
  background-color: black;
  padding: 15px;
  border-radius: 25px;
}

.navlink-text {
  color: white;
  text-decoration: none;
  display: flex;
}

.create {
  font-weight: bold;
  font-size: 15px;
}

.nav-bar-profile-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 22px;
}

.fa-user {
  color: grey;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 50%;
}


.nav-bar-dropdown-menu {
  text-align: left;
  width: 100%;
}

.nav-bar-dropdown-menu1 {
  text-align: left;
  width: 100%;
}

.inside-dropdown {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: center; */
  background-color: #FFF;
  top: -2px;
  right: 200px;
  box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);
  border-radius: 15px;
  padding: 20px 0px;
  z-index: 1;
  width: 230px;
  height: 8em;
  align-items: center;
}

.inside-dropdown1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: center; */
  background-color: #FFF;
  top: -1px;
  right: 70px;
  box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);
  border-radius: 15px;
  padding: 20px 0px;
  z-index: 2;
  width: 180px;
  height: 2em;
  align-items: center;
}

.user-username {
  padding: 10px;
  display: flex;
}

.user-email {
  padding: 10px
}

.logout-button-user {
  padding: 10px
}

.second-profile-button {
  display: flex;
  justify-content: space-between;
}

.container-login-signup {
  display: flex;
}

.loginmodal {
  background-color: #e60023;
  padding: 10px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.login {
  padding-right: 15px;
}

.loginmodal1 {
  padding-right: 10px;
}

.loginmodal2 {
  /* padding-right: 10px;
  border-radius: 10px; */
}

.Signup {
  background-color: lightgray;
  padding: 10px;
  border-radius: 30px;
  color: black;
  cursor: pointer;
}

.Signup1 {
  padding-right: 10px;

}


.create-post-modal-css {
  color: black;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.inside-dropdown1 :hover {
  background-color: lightgray;
  border-radius: 10px;
}

.create-button-dropdown {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
}

.logo-img {
  height: 40px;
  width: 40px;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.nav-bar-search-form,
.nav-bar-search-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px
}

.nav-bar-search-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.nav-bar-search-text-field {
  border-radius: 30px;
  padding: 10px;
  flex-grow: 1;
  outline: none;
  background-color: #e9e9e9;
  border: none;
}

.create-post-input4{
  padding-right: 5px;
  font-weight: bold;
  cursor: pointer;
}

.this-is-logout-button{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  background-color: white;
  border-radius: 5px;
}
.logout-button-user :hover{
  background-color: #e9e9e9;
}