.validation-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.validations2{
    /* padding-right: 6px; */
    list-style: none;
    /* padding-left: 40px; */
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-main-div2 {
    height: 47rem;
    width: 30rem;
}