.single-post-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.second-main-container {
    display: flex;
    flex-direction: row;
    border: solid white;
    box-shadow: 10px 10px 20px 0.5px rgba(179, 175, 175, 0.7);
    /* width: 60rem;
    height: 100%; */
    border-radius: 30px;
}

.single-image-container {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-image {
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 400px;
    max-height: 700px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.edit-delete-main-container1 {
    display: flex;
    justify-content: space-around;

}

.edit-delete-main-container {
    background: white;
    border-radius: 15px;
}

.delete-button-container {
    padding-left: 160px;
    padding-top: 20px;
}

.edit-modal-container {
    padding-left: 15px;
    padding-top: 20px;
}

.editmodal3 {
    background-color: black;
    padding: 8px;
    border-radius: 100px;
    color: white;
    width: 85%;
    cursor: pointer;
}

/* .editmodal3 {
    padding-right: 10px;
} */

.ksksks {
    height: 100%;
    max-height: calc((100vh - 80px) - 16px);
    width: 508px;
}


.delete-post-button {
    background-color: black;
    padding: 7px;
    border-radius: 100px;
    color: white;
    width: 90%;
}

.user-container {
    display: flex;
    text-align: left;
    padding-top: 35px;
    width: 370px;
}

.user-container3 {
    display: flex;
    text-align: left;
    padding-top: 14px;
    width: 340px;

}

.name-title-css {
    font-size: 35px;
    line-break: auto;
    font-weight: bold;
    word-break: break-all;
}

.name-title-css3 {
    line-break: auto;
    word-break: break-all;
}

.comments-length {
    line-break: auto;
    margin-left: 45px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.this-da-comment {
    word-break: break-all;
}

.container-holding-comments {
    flex: 1 1 auto;
    min-height: 3;
    min-width: 0;
    overflow: auto;
    padding-left: 30px;
    padding-top: 23px
}

.name-comment {
    line-break: auto;
}

.firstname {
    font-weight: bold;
    font-size: 17px;
}

.lastname {
    font-weight: bold;
    font-size: 17px;
    padding-right: 5px;
}

.main-component-first-last-comment {
    padding: 10px;
    display: flex;
}

.image-ppp {
    padding-right: 10px;
}

.rando-div {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    margin-left: 50px;
    max-height: 1002px;
}

.edit-delete-user-container {
    height: 100%;
    max-height: 800px;
    /* width: 508px; */

}


.edit-delete-single-comment {
    display: flex;

}

.edit-button-single-comment {
    padding-right: 10px;
}

.comment-form {
    padding-left: 42px;
    padding-bottom: 50px;
}

.add-a-comment-input {
    width: 23rem;
    height: 3rem;
    border-radius: 13px;
    border: solid black 1px;

}

.edit-review-submit-button-container4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 10px;
}

.image-comment-input {
    display: flex;
}

.input-padding {
    padding-left: 15px;
}


.fa-solid,
.fas {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.fa-user {
    color: grey;
    background-color: lightgrey;
    padding: 9px;
    border-radius: 50%;
}

.container-holding-comments {
    overflow-y: scroll;
    height: 13rem;
}

.all-posts1 {
    width: 80%;
    margin: 0;
    column-count: 7;
    padding-top: 40px;
}

.image-post-container1 {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal-content {
    background-color: white;
    border-radius: 40px;
    padding: 29px;
    text-align: center;
}



.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.this-the-hover-button {
    padding-Left: 30px;
    padding-Right: 30px;
    padding-Top: 5px;
    padding-Bottom: 5px;
    border: none;
    background-Color: #e9e9e9;
    border-Radius: 10px;
}
.this-the-hover-button:hover {
    background-color: rgb(206, 206, 206);
}
.this-the-hover-button1:hover {
    background-color: rgb(206, 206, 206);
}

.this-the-hover-button1 {
    padding-Left: 20px;
    padding-Right: 20px;
    padding-Top: 5px;
    padding-Bottom: 5px;
    border: none;
    background-Color: #e9e9e9;
    border-Radius: 10px;
}

.browse-for-more {
    padding-top: 20px;
}