.main-spalshpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.second-main-spashpage-container {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}



.title-contaienr {
    font-size: 30px;

}

.centering-it {
    display: flex;
    justify-content: center;
}

.main-botton-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.list-button1 {
    list-style: none;
}

.list-button2 {
    list-style: none;
}

.dot {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
}

.dot:hover {
    background: rgba(0, 0, 0, 0.3);
}

.slide-in-text {
    animation: slide-in 1s ease forwards;
    position: relative;
    animation-timing-function: ease-in-out;
    font-size: 36px;
}

.slide-in-images {
    animation: slide-in 1s ease forwards;
    position: relative;
    animation-timing-function: ease-in-out;
    margin: 0rem 1rem 0rem 1rem;
}

.slide-in-images {
    position: relative;
    display: inline-block;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(255, 255, 255, .4), transparent);
}

.gradient-overlay1 {
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    top: 25rem;
    left: 42rem;
    /* background-color: white; */
    width: 20%;
    height: 20%;
    z-index: 1;
}

.title-spalsh {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10px;
    padding: 40px;
    border-radius: 20px;
    background-color: #e60023;
    color: white;
    font-weight: bold;
}

@keyframes slide-in {
    from {
        transform: translateY(50%);

    }

    to {
        transform: translateY(0);
    }
}


.main-ul-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.buttons-and-text-container {
    padding-top: 1px;
}

.h1-css {
    margin: 0;
}

.image-main-container-11 {
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.slide-in-images {
    animation: slide-in 1s ease forwards;
    position: relative;
    animation-timing-function: ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0);
    }
}

.all-posts2 {
    width: 100%;
    margin: auto;
    column-count: 7;
    padding: 0;

}

.grid-item {
    border-radius: 20px;
}

.all-post-images1 {
    position: relative;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.backgroundColor {
    background-color: #fffd92;
    position: absolute;
    top: 53rem;
    left: 2px;
    /* background-color: white; */
    width: 100%;
    height: 15%;
    z-index: 1;
    margin: 0rem 1rem 1rem 0rem;
}

.one-and-half-page {
    position: absolute;
    top: 55.5rem;
    left: 2px;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* margin: 0rem 1rem 1rem 0rem; */
    display: flex;
    background-color: #fffd92;
}

.second-page-background {
    background-color: #fffd92;
}

.main-image-for-second-section {
    background-color: #fffd92;
}

.single-section-img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: #fffd92;
    padding-left: 15rem;
}

.title-section {
    padding-top: 20rem;
}

.this-where-main-image-go {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    padding-top: 10rem;
    padding-left: 10rem;
}

.search-anime-title{
    color: #c31952;
    font-size: 60px;
}
.search-anime-title1{
    color: #c31952;
    font-size: 24px;
}

.something-test-container{
    height: 49rem;
}

@media (min-width: 1px) and (max-width: 1030px) {
    .gradient-overlay1 {
        /* background-color: rgba(0, 0, 0, 0.5); */
        position: absolute;
        top: 25rem;
        left: 20rem;
        /* background-color: white; */
        width: 30%;
        height: 20%;
        z-index: 1;
    }

    .backgroundColor {
        background-color: #fffd92;
        position: absolute;
        top: 50rem;
        left: 2px;
        /* background-color: white; */
        width: 100%;
        height: 15%;
        z-index: 1;
        margin: 0rem 1rem 1rem 0rem;
    }

    .fa-solid{
        padding-right: 60px;
    }
    
    .text-container{
        padding-left: 30px;
        padding-right: 40px;
    }

    .search-anime-title{
        word-break:unset;
    }
    .search-anime-title1{
        word-break:unset;
    }
    .search-anime-title1{
        word-break:unset;
        padding-right: 50px;
    }

    .single-section-img{
        height: 30rem;
        width: 20rem;
    }

    .this-where-main-image-go{
        padding-left: 30px;
    }

    .container-login-signup{
        padding-right: 50px;
    }

    .gradient-overlay{
        top: 30px;
    }

    .search-profile-picture > .fa-solid{
        padding-right: 10px;
    }

    .image-ppp > .fa-solid{
        padding-right: 10px;
    }

    .all-posts1{
        width: 95% ;
    }

    .profile-single-post-all-posts > .fa-solid{
        padding-right: 10px;
    }
}
