.created-title-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-profile-name-likes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture > .fa-user {
    font-size: 30px;
}

.user-profile-name{
    display: flex;
    padding-top: 10px;
    font-size: 36px;
    font-weight: bold;
}

.images-posted-by-user{
    margin: 3rem;
}

.created-button{
    border: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 8px;
}

.saved-button{
    border: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 8px;
}
.container-created-button{
    padding-right: 20px;
}

.container-created-button :focus {
    border-bottom: solid black ;
}
.created-button:hover {
    background-color: lightgray;
}

.container-saved-button :focus{
    border-bottom: solid black ;
}
.saved-button:hover{
    background-color: lightgray;
}