.modal-main-div1{
    height: 30rem;
    width: 25rem;
}

.email-input1{
    height: 100px;
    width: 269px;
    border-radius: 10px;
    resize: none;
}


/* @media (min-width: 1px) and (max-width: 1024px) {
    #modal-background{
        padding-right: 30px;
    }
    
} */

